h3 {
font-size: 24px;
margin: 10px 0px 0px 100px;
}

.top {
color: white;
display: flex;

}

.headerLink {
font-size: 18px;
color: #E5E7EB;
text-align: right;
margin: 12px 0px 0px 450px;
word-spacing: 20px;

}

.headerHero{
background-color: #1F2937;
margin: -8px -54px 0px -8px;
}

button {
color: white;
background-color: #3882F6;
}

.hero {
color: white;
display: flex;

}

.Mainhero{
font-size: 48px;
font-weight: 800;
}

.leftHero {

}

.heroSub {
color: #E5E7EB;
font-size: 18px;
}

.infoheader{
font-size: 36px;
color: #1F2937;
font-weight: 800;
text-align: center;
}

.bottomhalf {
background-color: white;
margin: 0px -50px 50px -50px;
}

.whiteImage{
display:flex;
justify-content: center;
}

.imageSubtext{
display:flex;
justify-content: center;
margin: 0px 240px 0px 240px;
}

.whiteBox {
margin: 10px;
border: 2px solid #3882F6;
border-radius: 25px;
}

.subtexts {
margin: 0px 20px 0px 20px;
text-align: center;
}

.quote {
background-color: #E5E7EB;
font-size: 36px;
font-style: italic;
color: #1F2937;
text-align: center;
margin: 100px 0px 100px 0px;
padding: 50px;
}

#quote {
padding: 40px 40px 0px 40px;
margin: 50px 100px 50px 100px;
}

#quoter {
text-align: right;
margin: -50px 150px 100px 0px;
font-weight: 800;
}

.actionCall {
background-color: #3882F6;
margin: 100px 240px 100px 240px;
color: white;
display:flex;
padding: 8px 20px 10px 20px;

}

.signup{
display: flex;
flex-direction: column;
margin-left: 80px;
}

#signuptitle {
font-weight: 800;
margin-bottom: -20px;
font-size: 24px;
}

.signupPrompt {
font-size: 18px;
}

#bottomButton {
border: 2px solid white;
border-radius: 5px;
margin: 40px 0px 30px 220px;
font-size: 14px;


}

.copyright {
color: white;
text-align: center;
margin: 0px -8px 0px -8px;
padding: 20px 20px 20px 20px;
background-color: #1F2937;
}
